<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lei.repair">

    <application
        android:name=".base.CarRepairApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.HomeAcitivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MerchantCenterActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.MerchantOrdersActivity" />
        <activity android:name=".ui.activity.MerchantInfoActivity" />
        <activity android:name=".ui.activity.MechantPersonalInfoEditActivity" />

        <!-- 图片选择 -->
        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:screenOrientation="portrait" />
        <!-- 图片裁剪 -->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MerchantQuotation" />
        <activity android:name=".ui.activity.MerchantCheckMaintenanceDemand" />
        <activity android:name=".ui.activity.AddChargeActivity" />
        <activity android:name=".ui.activity.MechantQuotationConfirmationActivity" />
        <activity android:name=".ui.activity.ConstructionScheduleActivity"></activity>
    </application>

</manifest>